.nav-item a{
  font-size: 20px;
  font-weight: 400;
  font-family: "Open Sans",arial,sans-serif;


}

#pic-profile{
 padding : 15px
}

@media (max-width : 400px){
  #pic-profile {
    padding: 0px
  }

}

.pic-box {

  background-color: #fff;
  box-shadow: rgba(0, 0, 0, .75) -1px 7px 51px 0;
  color: #5f5f5f;
  font-family: "Open Sans",arial,sans-serif;
  padding: 50px 40px;
  text-align: center;

   display: inline-block;

 }

.eve {
width: 200px

  }




.profile-container{

  -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    color: #777;
    font-family: "Open Sans",arial,sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 100px;
    padding-left: 50px;
    text-align: left;
}

@media only screen and (max-width: 480px) {
  .section-text, .text {
    line-height: 1.7;
  }
  .section-text {
    line-height: 1.7;
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .smallbio {
    padding-left: 10px;
  }
}

@media (width-max:356px){
  #pic-profile{
    padding: 50px 0;
  }
}

#content{
  text-align: center;
  padding:50px 200px;
  background-color:#546981;
  color: white;
  font-family: "Open Sans",arial,sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.42857;
  list-style: outside none none;
}

.achievements {
   margin: 0;
   background-color:#546981;
   color:white;

}

.achievements p {
  margin: 10px ;
  text-align: left;
  font-size: 20px;




}

.pad {
  padding:10px;
}

.nav-pills .nav-link.active{
    background-color: transparent !important;
    border-width: : 1px ;
    border-style : solid;
}
