.nav-item a{
  font-size: 20px;
  font-weight: 400;
  font-family: "Open Sans",arial,sans-serif;
  margin-right: 20px;


}

#pic-profile{
 padding : 15px
}

@media (max-width : 400px){
  #pic-profile {
    padding: 0px;
    width:370px
  }

  .profile {
    padding-bottom: 40px;
  }





}

@media (min-width : 600px){
  #pic-profile {
    padding-left: 30px;
  }

  .interestbox {
  padding:0 200px;
  }

  .accordionbox {
    padding: 0 150px;
  }


  #pills-QUALIFICATIONS-tab {

      width: 194px;
      margin-right: 50px;}


}

.accordionbox {
  font-family: "Open Sans",arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.7;
  text-align: left;

}

.accordionbox .btn {
  width: 100%;
  font-weight: bold;
  color: #546981;
  padding: 0;
  text-align: left;
}

.accordionbox .btn-link:hover,
.accordionbox .btn-link:focus {
  text-decoration: none;
}

.accordionbox li + li {
  margin-top: 10px;
}



.pic-box {

  background-color: #fff;
  box-shadow: rgba(0, 0, 0, .75) -1px 7px 51px 0;
  color: #5f5f5f;
  font-family: "Open Sans",arial,sans-serif;
  padding: 50px 40px;
  text-align: center;

   display: inline-block;

 }






.profile-container{

  -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    color: #777;
    font-family: "Open Sans",arial,sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 50px;
    padding-left: 50px;
    text-align: left;
}

@media only screen and (max-width: 480px) {
  .section-text, .text {
    line-height: 1.7;
  }
  .section-text {
    line-height: 1.7;
    font-size: 15px;
  }

}

@media (max-width: 500px) {
  .smallbio {
    padding-left: 10px;
  }
}

@media (width-max:400px){
  #pic-profile{
    padding: 50px 0;
  }
}

#content{
  text-align: center;
  padding:50px 200px;
  background-color:#546981;
  color: white;
  font-family: "Open Sans",arial,sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.42857;
  list-style: outside none none;
}

.achievements {
   margin: 0;
   background-color:#546981;
   color:white;

}

.achievements p {
  margin: 10px ;
  text-align: center;
  font-size: 20px;
}

.imgclass{

width: 100px ;
height: 100px ;
 border-radius: 50%;


}

.interestbox {

  color: #fff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  line-height: 30px;
  text-align: left;


  }





.youtube {
   margin:20px 0;
   text-align:center
}

.pad {
  padding:10px;
}

.nav-pills .nav-link.active{
    background-color: transparent !important;
    border-width: 1px ;
    border-style : solid;
}

.contactme h1{
  color: #fff;
  font-family: Oxygen,sans-serif;
  font-size: 26px;
  line-height: 39px;
  text-align: center;
}
